<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">


<div layout:fragment="content">
  <div class="container mt-3">
    <h1>Request List</h1>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Request ID</th>
        <th>Content</th>
        <th>Registration Date</th>
        <th>Post ID</th>
        <th>Status</th>
        <th>User Name</th>
        <th>Title</th>
      </tr>
      </thead>

      <tbody>
      <tr th:each="request : ${requests}">
        <td th:text="${request.requestId}">Request ID</td>
        <td th:text="${request.content}">Content</td>
        <td th:text="${request.regDate}">Registration Date</td>
        <td th:text="${request.postId}">Post ID</td>
        <td th:text="${request.status}">Request Status ID</td>
        <td th:text="${request.username}">User ID</td>
        <td th:text="${request.title}">Title</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

