<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<body>
<div layout:fragment="content">
  <div class="container mt-3">
    <h1>Request List</h1>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Request ID</th>
        <th>Content</th>
        <th>Registration Date</th>
        <th>Post ID</th>
        <th>Status</th>
        <th>User Name</th>
        <th>Title</th>
        <th>Delete</th>
      </tr>
      </thead>

      <tbody>
      <tr th:each="request : ${requests}">
        <td th:text="${request.requestId}">Request ID</td>
        <td th:text="${request.content}">Content</td>
        <td th:text="${request.regDate}">Registration Date</td>
        <td th:text="${request.postId}">Post ID</td>
        <td th:text="${request.status}">Request Status ID</td>
        <td th:text="${request.username}">User ID</td>
        <td th:text="${request.title}">Title</td>
        <td>
          <button type="button" class="btn btn-danger" th:onclick="'deleteRequest(' + ${request.requestId} + ')'">
            삭제
          </button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

<script>
  function deleteRequest(requestId) {
    console.log("Request ID to delete:", requestId);
    if (confirm("정말로 이 신청을 삭제하시겠습니까?")) {
      fetch(`/request/delete/${requestId}`, {
        method: 'DELETE'
      })
              .then(response => {
                if (!response.ok) {
                  throw new Error("삭제에 실패했습니다.");
                }
                return response.text();
              })
              .then(data => {
                alert(data);
                location.reload(); // 페이지 새로고침하여 리스트 업데이트
              })
              .catch(error => {
                console.error("Error:", error);
                alert("삭제하는 도중 문제가 발생했습니다.");
              });
    }
  }
</script>

</body>
</html>
